html, 
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: lightgreen;
}

header {
    background-color: #555555;
    color: #ffffff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(sfondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
    header:hover {
        background-color: #aaaaaa;
    }
*/
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    padding: 4px 8px;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 15px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    transition: color 1s;
}

#menu a:hover {
    color: lightgreen;
    text-decoration: underline;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

body {
    margin: 0;
}

/** FOOTER **/

#bottom-footer {
    background-color: #eee;
    color: #333;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#bottom-footer a {
    color: #666;
    text-decoration: none;
}

#bottom-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#bottom-footer > div {
    width: 100%;
    padding: 2rem;
}

#bottom-footer .finanziamenti img {
    width: 90%;
    height: auto;
}
#bottom-footer div.last {
    text-align: right;
}

#bottom-footer div.last li {
    display: inline;
}

#bottom-footer div.last li + li {
    margin-left: 1rem;
}

/** 
aggiungo a tutti un margin inferiore e poi con la regola
che segue la rimuovo solo dal ultimo elemento 
*/
#bottom-footer div.last div {
    margin-bottom: 1rem;
}

#bottom-footer div.last div:last-child {
    margin-bottom: 0;
}

/** / **/

.social-icons img {
    width: 24px;
    height: 24px;
}

/** NOTIZIE **/


.articles__wrapper {
    display: flex;
    width: 100%;
}

.articles article {
    width: 100%;
}

.articles img {
    width: 400px;
    max-width: 100%;
    height: auto;
}






@media (min-width: 768px) {
    #menu li {
        display: inline;
    }

    header {
        height: 80vh;
        
    }
}