/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* FONT */

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}


/* NOSTRO CSS */

html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

a {
    color: #137713;
}

header {
    background-color: #555555;
    color: #ffffff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/template/images/sfondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    display: flex;
    align-items: center;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    padding: 4px 8px;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 15px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    transition: color 1s;
}

#menu a:hover {
    color: #137713;
    text-decoration: underline;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

body {
    margin: 0;
}

/** FOOTER **/

#bottom-footer {
    background-color: #eee;
    color: #333;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#bottom-footer a {
    color: #666;
    text-decoration: none;
}

#bottom-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#bottom-footer>div {
    width: 100%;
    padding: 2rem;
}

#bottom-footer .finanziamenti img {
    width: 90%;
    height: auto;
}

#bottom-footer div.last {
    text-align: right;
}

#bottom-footer div.last li {
    display: inline;
}

#bottom-footer div.last li+li {
    margin-left: 1rem;
}

/** 
aggiungo a tutti un margin inferiore e poi con la regola
che segue la rimuovo solo dal ultimo elemento 
*/
#bottom-footer div.last div {
    margin-bottom: 1rem;
}

#bottom-footer div.last div:last-child {
    margin-bottom: 0;
}

/** / **/

.social-icons {
    display: flex;
}

.social-icons img {
    width: 22px;
    height: 22px;
}

/** NOTIZIE **/


.articles__wrapper {
    display: flex;
    width: 100%;
}

.articles article {
    width: 100%;
}

.articles img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.articles {
    margin-top: 60px;
}

.articles article {
    width: 500px;
    margin-bottom: 50px;
}

.articles img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.articles h4 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 1rem;
}

.articles p {
    line-height: 1.2;
    margin-bottom: 2rem;
}

.articles a {
    text-decoration: none;
    background-color: #c61620;
    color: #fff;
    padding: 4px 10px;
}

.articles a:hover {
    background-color: #ff6666;
}

.articles__wrapper {
    justify-content: space-evenly;
}

.articles h3 {
    text-align: center;
    text-transform: uppercase;
    color: #888;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
}

h1, 
h2, 
h3,
h4 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

main {
    width: 1200px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* FORM */
main.prenota {
    width: 900px;
    margin: 0 auto;
}

.form-wrapper label {
    width: 50%;
    display: inline-block;
    line-height: 2.2;
}

.form-wrapper div {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-wrapper {
    width: 500px;
    margin: 2rem auto;
}

.form-wrapper input,
.form-wrapper select {
    width: 50%;
    padding: 4px;
}

.form-wrapper .align-column {
    flex-direction: column;
}

.form-wrapper input[type="submit"] {
    margin-left: 50%;
}


@media (min-width: 768px) {
    #menu li {
        display: inline;
    }

    header {
        height: 80px;
    }

    .homepage header {
        height: 80vh;
    }
}